@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
  margin: 0;
  background-color: #1F2833;
}

.logo-groote{
  width: 50%;
  margin: 10px;
}

.logo{
  text-align: center;
  padding-top: 2%;
}


.tekst{
  font-family: Roboto;
  font-size: 50px;
  color: white;
  margin-left: 10%;
  margin-right: 0;
}

.hoofdkopje{
  padding: 15px;
  padding-bottom: 0;
  margin: 0;
  color: white;
  font-family: Roboto;
}

.grid-item-1{
  background-color: #1F2833;
}

#geocoder{
  padding-left: 10%;
}

.grid-item-2{
  margin-left: auto;
  margin-right: auto;
  background-color: #336699;
  border-radius: 10px;
  width: 800px;
  height: 200px;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  margin-right: 8%;
}

.grid-item-3{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #336699;
  border-radius: 10px;
  width: 800px;
  height: 200px;
  font-size: 18px;
}

.grid-item-4{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #336699;
  border-radius: 10px;
  width: 800px;
  height: 200px;
  font-size: 18px;
  margin-bottom: 10%;

}

.nieuws{
  color: white;
  font-family: Roboto;
}

#map {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 8%;
}

#weer{
  color: white;
  background-color: #336699;
  font-size: 50px;
  padding-bottom: 15px;
  padding: 20px;
}

#citybutton{
  visibility: hidden;
}

#weersverwachting{
  color: white;
  background-color: #336699;
  font-size: 25px;
  font-family: Roboto;
  padding: 15px;
}

#nieuws{
  padding: 20px;
}

.tekst-2{
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Roboto;
  margin-bottom: 10%;
}

.alien{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
